*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
}

.hide{
    display: none;
}



#first{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) ), url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 16.5%;
   
}

#firstDownContact{
    margin: 0px;
    padding: 0px;
}



#contactMessage{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    margin: .5% auto;
    color: white;
    font-size: 1.75vw;
  

}

#contactForm{
    width: 70%;
    margin: 0 auto;
}


.contactInputs{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    padding: 2%;
    margin: .5% auto;
    width: 40%;
    text-align: center;
    outline: none;
 
}

.contactInputs:focus{
    border: 3px solid black; 
}

.textarea{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    padding: 2%;
    width: 40%;
    flex-direction: column;
    resize: vertical;
    resize: none;
    outline: none;
   
}

.textarea:focus{
    border: 3px solid black; 
}

.btn{
    color: white;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    margin: .25% .75%;
    width: 13%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1vw;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: gray;
    transition: 0.3s background-color linear, 0.3s color linear;

}


#temp {

    padding-top: 15%;
}


#firstTop{
    width: 75%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 0.5em;   
}

#logo{
    width: 100px ;
    height: 80px;
    padding: 2px;
    margin: 5% 0% 5% 5%;
    
}

#navDiv{
    text-align: center;  
}

#navList{
    list-style: none;
   width: 100%;
   text-align: center;
}

#navList li{
    float: right;
    margin: 50px 20px 0px 0px;
     text-align: center;
}

#navList li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: 'Orbitron', sans-serif; 
    font-size:1vw;
}

#navList li a:hover{
  font-weight: bolder;

}

#firstDown{
    width: 70%;
    margin: 5px auto;
    padding-top: 2%;
}

.texts {
    padding: .5% 0%;
    margin: 5px;
    color: white;
    text-align: center;
}

#myNameText2{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;

  
}

#myNameText1{
    font-family: 'Cormorant Garamond', serif;    
}

#firstDownButtom{
    color:white;
    font-family: 'Orbitron', sans-serif;
    margin: 3% 1%;
}   

#viewImgsButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 1% 0% 1% 0%;
    width:250px;
    padding: 1em;
    font-size: 1em;
    margin:auto;
}



#viewImgsButton:hover{
    cursor: pointer;
    background-color: white;
    color: gray;
    transition: 0.3s background-color linear, 0.3s color linear;
}

#second{
    padding: 50px 0%;
    background-color:  #edeeef;
    
}

#myFocus{
    width: 80%;
    margin: auto;
}

.texts2 {
    padding: 10px;
    margin: 10px 0%;
    color: black;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin: 5px auto;
}

#secondTitle{
    font-family: 'Cormorant Garamond', serif;
}

#myFocusPara{
    line-height: 1.6;
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    color: #484848;
}

#third{
    padding: 50px 0%;

}

#thirdTitle{
    margin: 5px auto;   
    margin-bottom: 3%;
}



#thirdSkills{
    width: 70%;
    margin: 5px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.skillTitle{
    font-family: 'Orbitron', sans-serif; 
    padding: 5px;
    margin: 0.5% 0%;
  
}

.skillPara{
    text-align: center;
    padding: 10px;
    margin: 0.5% 0%;
    line-height: 1.4;
}

.skills img{
    padding: 5px;
    margin: 1% 0% 1% 2%;
}

#thirdButton{
    padding: 1% 0%;
    margin: 3% 1%;
}

#SkillButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 1vw;
    width:10%;
    font-size: 1vw;
    margin:auto;
    border: 2px solid black;
}

#SkillButton:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
    transition: 0.3s background-color linear, 0.3s color linear;
}

#fourth{
     padding: 50px 0%;
    background-color: #edeeef;
}

#fourthTitle{
    padding: 2% 0%;
}

#albumsDiv{
    margin: 5px 10%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em
}

.albums{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
   
    transition: .5s ease;
}

.white{
    color: white;
  
}


#citiesAlbum{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/cities.jpg);
    background-position:center;
    overflow: hidden;

    
}

#natureAlbum{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/nature.jpg);
    background-position:center;
}

#randomAlbum{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/random.jpg);
    background-position:center;
}

#randomContent, #natureContent, #cityContent{
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    top: 25%;
    display: none;
    background-size: 100% 100%;
}

#citiesAlbum:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(images/cities.jpg);
}

#citiesAlbum:hover #cityContent{
    display: block;
    -webkit-animation: slide-down .8s ease-out;
    -moz-animation: slide-down .8s ease-out;
}

#natureAlbum:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(images/nature.jpg);
}

#natureAlbum:hover #natureContent{
    display: block;
    -webkit-animation: slide-down .8s ease-out;
    -moz-animation: slide-down .8s ease-out;
}

#randomAlbum:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(images/random.jpg);
}

#randomAlbum:hover #randomContent{
    display: block;
    -webkit-animation: slide-down .8s ease-out;
    -moz-animation: slide-down .8s ease-out;
    
}


@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}

.albumButton{
    padding: .5vw;
    background-color: white;
    color: gray;
    margin: 1% auto;
    width: 50%;
    font-size: 1vw;
    font-family: 'Orbitron', sans-serif;
}

.albumButton:hover{
    cursor: pointer;
    color: black;

}

.saifTabaja{
    padding: 2% 1%;
    font-size: .8vw;
    
}

.albumType{
    font-size: 2vw;
}

#fourthButton{
    padding: 1% 0%;
    margin: 2% auto 0% auto;
}

#albumButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding: 1vw;
    width:15%;
    font-size: 1vw;
    border: 2px solid black;
    
}

#albumButton:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
    transition: 0.3s background-color linear, 0.3s color linear;
}

#fifth{
   
}

#fifthTitle{
    padding: 2% 0%;
    margin: 1% 0%;
}

#imageContainer{
    margin: 5px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

#imageContainer a{
    text-decoration: none;
}

.fifthImages{
    width: 100%;
    height: 100%; 
    transition: .5s ease;
   
}


.imgWrap{
    position: relative;
}


.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;


    font-size: 1vw;
}

.imgWrap:hover .fifthImages {
    opacity: 0.3;
  }

.imgWrap:hover .middle {
    opacity: 1;
  }


#fifthButton{
    margin: 2% 0%;
}

#fifthButton a{
    text-decoration: none;
   
}

#instaButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 1vw;
    width:15%;
    font-size: 1vw;
    border: 2px solid black;
}

#instaButton:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
    transition: 0.3s background-color linear, 0.3s color linear;
}

.decorNone{
    text-decoration: none;
}

#sixth{
    background-color: #272727;
    
}

#sixthTitle{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    padding: 3% 0 0 0;

}

#navDivBottom{
    margin: 1% 15%;
    width: 50%;
    height: 70px;

}

#navListBottom{
    list-style-type: none; 
}

#navListBottom li {
    float: right;
    margin: 1% 2%;

}

#navListBottom li a{
    color:white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: .9vw;
    padding: 10px;
    margin: 1% 1%;
}

#navListBottom li a:hover{
    font-weight: bolder;
}


#socialItems{

}

#rightsPara{
    
}

#socialMedia{

    margin: 1% 7%;
    width: 50%;
    height: 70px;
}

#socialItems{

  position: relative;
  right:2% ;
}

.si{
    width: 30px;
    height:30px;
}

#socialItems li{
    list-style: none;
    float: right;
    margin: 1% 1% 1% 0;
    padding: 5px;
    border-radius: 25%;
}



@media only screen and (max-width: 600px) {

    #logo{
        width: 50px ;
        height: 40px;
        margin: 50% 0% 5% 5%;
    }
    
    #navList li{ 
        margin: 50px 5px 0px 0px;
    }
    
    #navList li a{
        font-size:2vw;
    }

    #firstDown{
        width: 70%;
        margin: 5px auto;
        padding-top: 2%;
    }
    
    #myNameText2{
        font-size: 1em;     
    }
    
    #myNameText1{
        font-size: .75em;   
    }
    
    #firstDownButtom{
        margin: 3% 1%;
    }   
    
    #viewImgsButton{
        margin: 5% 0 0 0%;
        width:100px;
        font-size: .5em;
    }
    
    #secondTitle{
        font-size: 1em;
    }
    
    #second{
        padding: 5% 0;
    }
    
    #myFocus{
       width: 80%;
       margin: 0px auto;
       padding: 0px;
    }
    
    #myFocusPara{
        line-height: 1.6;
        font-size: .75em;
    }

    #third{
        padding: 5% 0;
        margin: 0px;
    }
   
    #thirdTitle{
        font-size: 1em;
    }
    
    
    
    #thirdSkills{
        width: 80%;
        margin: 5px auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;     
    }
    
    .skills{
        margin:2% 0;
    }
    
    .skillTitle{
        font-size: .75em;
    }
    
    .skillPara{
        line-height: 1.4;
        font-size: .75em;
    }
    
    .skills img{
        width: 75px;
        height: 75px;
    }
    
    #thirdButton{
        padding: 1% 0%;
        margin: 3% 1%;
    }
    
    #SkillButton{
        padding: 2vw;
        width:100px;
        font-size: .5em;
    }

    #fourth{
       background-color: #edeeef;
       padding: 5% 0;
   }
   
   #fourthTitle{
       font-size: 1em;
       margin: 5% 0 5% 0;
   }
   
   #albumsDiv{
       width: 80%;
       margin: 5px auto;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: .75em
   }
   
   .albums{
       height: 25vh;
       width: 100%;
   }
   
   #randomContent, #natureContent, #cityContent{
       font-family: 'Cormorant Garamond', serif;
       position: relative;
       top: 50%;
       display: none;
       background-size: 100% 100%;
   }
   
   .albumButton{
       padding: 1vw;
       width: 25%;
       font-size: 1.5vw;
   }
   
   .saifTabaja{
       font-size: 1.5vw;  
   }
   
   .albumType{
       padding: 1% 0;
       font-size: 2.5vw;
   }
   
   #albumButton{
       margin: 5% auto 1% auto;
       width: 100px;
       font-size: 2vw;      
   }
   

   #fifthTitle{
       margin: 5% 0 5% 0;
        font-size: 1em;
   }
   
   #imageContainer{
       margin: 5px 10%;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 1em;
   }
   
   
   .middle{
       font-size: 2vw;
   }
 
   #fifthButton{
       margin: 5% 0 5% 0;
   }
   
   #fifthButton a{
       text-decoration: none;
      
   }
   
   #instaButton{
       font-family: 'Orbitron', sans-serif;
       font-weight: bold;
       border: 2px solid white;
       padding: 1vw;
       width:150px;
       font-size: 2vw;
       border: 2px solid black;
   }
 
   
   #sixth{
    padding: 5% 0;
    }

    #sixthTitle{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1em;
    }

    #navDivBottom{
        margin: 1% 15%;
        width: 50%;
        height: 70px;

    }

    #navListBottom{
      position: relative;
      left: 25px;
    }

    #navListBottom li {
        float: right;
        margin: 5% 2%;
    }

    #navListBottom li a{
        font-size: .5em;
        padding: 20%;   
    }

    #rightsPara{
        
    }

    #socialMedia{
        margin: 1% 7%;
        width: 70%;
        height: 30px;
    }

    #rights{
        width: 80%;
        margin: 2% 34%;
        
    }

    #rightsPara{
        margin: 2% auto;
        font-size: .5em;
    }

    #socialItems{
        position: relative;
        right:10% ;
    }

    .si{
        width: 20px;
        height:20px;
    }

    #contactMessage{
        font-weight: normal;
        margin: 5% auto;
        font-size: 1em;
    }
    
    #contactForm{
        width: 100%;
    }
    
    .contactInputs{
        font-weight: normal;
        padding: 2%;
        margin: 1% auto;
        width: 65%;
        font-size: .5em;
        text-align: left;    
    }
      
    .textarea{
 
        font-weight: normal;
        padding: 2%;
        width: 65%;
        margin-top: 1.5%;
        font-size: .5em;
       
    }
    .btn{
        padding: 10px;
        margin: .25% .75%;
        width: 30%;
        font-size: .75em;
    }

    #lastImg{
        display: none;
    }
} 
