*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
}

#container {

}

#first{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) ), url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 935px;
   
}



#firstTop{
    width: 75%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 0.5em;   
}

#logoDiv{

}

#logo{
    width: 100px ;
    height: 80px;
    padding: 2px;
    margin: 5% 0% 5% 5%;
    
}

#navDiv{
    text-align: center;  
}

#navList{
    list-style: none;
   width: 100%;
   text-align: center;
}

#navList li{
    float: right;
    margin: 50px 20px 0px 0px;
     text-align: center;
}

#navList li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;  
}

#navList li a:hover{
  font-weight: bolder;

}

#firstDown{
    width: 70%;
    margin: 5px auto;
        position: relative;
        top: 20%;
}

.texts {
    padding: 1% 0%;
    margin: 5px;
    color: white;
    text-align: center;
}

#myNameText2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 30%;
  
}

#myNameText1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 130%;
    
}

#firstDownButtom{
    color:white;
    font-family: 'Orbitron', sans-serif;
    padding: 1% 0%;
    margin: 3% 1%;
}   

#viewImgsButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
    margin:auto;
}



#viewImgsButton:hover{
    cursor: pointer;
    background-color: white;
    color: gray;
    transition: 0.3s background-color linear, 0.3s color linear;
}

#second{
    padding: 50px 0%;
    background-color:  #edeeef;;
}

.texts2 {
    padding: 10px;
    margin: 10px 0%;
    color: black;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin: 5px auto;
}

#secondTitle{
    font-family: 'Cormorant Garamond', serif;
}

#myFocusPara{
    line-height: 1.6;
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    color: #484848;
}

#third{
    padding: 50px 0%;

}

#thirdTitle{
    margin: 5px auto;   
    margin-bottom: 3%;
}



#thirdSkills{
    margin: 5px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.skillTitle{
    font-family: 'Orbitron', sans-serif; 
    padding: 5px;
    margin: 0.5% 0%;
  
}

.skillPara{
    text-align: center;
    padding: 10px;
    margin: 0.5% 0%;
    line-height: 1.4;
}

.skills img{
    padding: 5px;
    margin: 1% 0% 1% 2%;
}

#thirdButton{
    padding: 1% 0%;
    margin: 3% 1%;
}

#SkillButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
    margin:auto;
    border: 2px solid black;
}

#SkillButton:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
    transition: 0.3s background-color linear, 0.3s color linear;
}

#fourth{
     padding: 50px 0%;
    background-color: #edeeef;
}

#fourthTitle{
    padding: 2% 0%;
}

#albumsDiv{
    margin: 5px 5%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em
}

.albums{
    height: 455px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.white{
    color: white;
  
}


#citiesAlbum{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/cities.jpg);
    

    
}

#natureAlbum{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/nature.jpg);
 
}

#randomAlbum{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/random.jpg);

}

#randomContent, #natureContent, #cityContent{
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    top: 25%;
    display: none;
}

#citiesAlbum:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(images/cities.jpg);
}

#citiesAlbum:hover #cityContent{
    display: block;
    -webkit-animation: slide-down .8s ease-out;
    -moz-animation: slide-down .8s ease-out;
}

#natureAlbum:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(images/nature.jpg);
}

#natureAlbum:hover #natureContent{
    display: block;
    -webkit-animation: slide-down .8s ease-out;
    -moz-animation: slide-down .8s ease-out;
}

#randomAlbum:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url(images/random.jpg);
}

#randomAlbum:hover #randomContent{
    display: block;
    -webkit-animation: slide-down .8s ease-out;
    -moz-animation: slide-down .8s ease-out;
    
}


@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}

.albumButton{
    padding: 10px;
    background-color: white;
    color: gray;
    margin: 3% auto;
    width: 205px;
    font-family: 'Orbitron', sans-serif;
}

.albumButton:hover{
    cursor: pointer;
    color: black;

}

.saifTabaja{
    padding: 2% 1%;
    
}

#fourthButton{
    padding: 1% 0%;
    margin: 3% 1%;
}

#albumButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 20px;
    width: 210px;
    margin:auto auto 2% auto;
    border: 2px solid black;
}

#albumButton:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
    transition: 0.3s background-color linear, 0.3s color linear;
}

#fifth{
   
}

#fifthTitle{
    padding: 2% 0%;
    margin: 1% 0%;
}

#imageContainer{
    margin: 5px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

#imageContainer a{
    text-decoration: none;
}

.fifthImages{
    width: 100%;
    height: 100%; 
    transition: .5s ease;
   
}


.imgWrap{
    position: relative;
}


.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}

.imgWrap:hover .fifthImages {
    opacity: 0.3;
  }

.imgWrap:hover .middle {
    opacity: 1;
  }


#fifthButton{
    margin: 2% 0%;
}

#fifthButton a{
    text-decoration: none;
   
}

#instaButton{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border: 2px solid white;
    padding: 20px;
    width: 300px;
    margin: 3% auto;
    border: 2px solid black;
}

#instaButton:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
    transition: 0.3s background-color linear, 0.3s color linear;
}

.decorNone{
    text-decoration: none;
}

#sixth{
    background-color: #272727;
    height: 400px;
}

#sixthTitle{
    font-family: 'Cormorant Garamond', serif;
    padding: 3% 0% 1% 0%; 
}

#navDivBottom{
    margin: 1% 0%;
    width: 100%;
    height: 20%;
   
}

#navListBottom{
    list-style-type: none;
    width: 50%;
    margin: 0% 35% 0% 12%;
  
}

#navListBottom li {
    float: right;
    margin: 1% 2%;
    padding: 5px;
}

#navListBottom li a{
    color:white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}

#navListBottom li a:hover{
    font-weight: bolder;
}


#socialItems{
    position: relative;
    left:   42.5%;
    padding: 0;
    
   
}

#rightsPara{
    
}

#socialItems li{
    list-style: none;
    float: left;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50%;
    color: #262626;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    font-size: 30px;
    transition: .5s ease-in-out;
    position: relative;


}

#socialItems li:before{
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: .3s ease-in-out;
}

#socialItems li:hover:before{
    left: 0;
    transform: scale(1);
}

#socialItems  li:nth-child(1):before{
    background: #ccc;
}
