$main-color: white;
$main-heading-color: black;
$secondary-color: rgb(180, 3, 3);
$home-Image: url(../images/background.jpg);
$background-opacity: 0.6;
$show-image: true;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-image {
    &#bgImage {
      background: $home-Image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: rgba($main-color, $background-opacity);
      }
    }
  }
}

@mixin mediaSmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMeduim {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaExtra {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
