* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* header */
#topHeader {
  background-image: url("images/bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* name and title */

#nameTitle {
  position: absolute;
  left: 10%;
  top: 50%;
}

.mainText {
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}

#name {
  font-weight: 500;
  font-size: 9rem;
  line-height: 130px;
}

#title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 70px;
  margin: 0 0 0 2rem;
}

/* icons */
.icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 90%;
}

.icons a {
  color: white;
  text-decoration: none;
  margin: 2rem 0;
  padding: 0.5;
}

.icons a:hover {
  color: #ffe7ab;
  transition: all 0.5s ease-out;
}

/* about section */

#about {
}

.section {
  width: 90%;
  padding: 0.5em;
  margin: 10em auto 0 auto;
  text-align: center;
}
.sectionTitle {
  font-family: Rubik, sans-serif;
  color: black;
  padding: 1rem;
  margin: 1em auto 2em auto;
  font-weight: 900;
  font-size: 90px;
}

.sectionPara {
  font-family: Roboto Mono, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: justify;
}

#exp {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.jobTitle {
  font-family: Roboto Mono, sans-serif;
  color: black;
  font-size: 1.5em;
}

.companyTitle {
  font-family: Roboto Mono, sans-serif;
  font-size: 1.5em;
  padding: 0.5rem 0 1rem 0;
  text-align: justify;
  text-align: center;
}

.para {
  font-family: Roboto Mono, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
}

/* work */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 0 20% 0;
}
.projectText {
}

.proTitle {
  font-family: Rubik, sans-serif !important;
  font-weight: 900;
  font-size: 60px;
  text-align: left;
}

.projectImg {
  width: 70%;
  box-shadow: 10px 10px 5px lightgray;
}

.projectSlider {
}

.usedTechnologies {
  text-align: left;
  padding: 1em 0.5em;
  margin: 1em 0;
}

.technology {
  font-family: Open Sans, sans-serif;
  display: inline;
  padding: 0.5em 0.75em;
  margin: 0 0.5em 0 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
}

.HTML {
  background: darkred;
  color: white;
}

.CSS {
  background: #000080;
  color: white;
}

.JavaScript {
  background: #ffc107;
  color: black;
}

.Bootsrap {
  background: #602c50;
  color: white;
}

.React {
  background: black;
  color: #61dbfb;
}

.view {
  text-align: left;
  padding: 1em;
}

.visit {
  font-family: Roboto Mono, sans-serif;
  font-weight: bold;
  padding: 0.5em;
  margin: 10px 0;
  color: black;
  font-size: 22px;
  text-decoration: none !important;
}

.visit:hover {
  color: black;
}

.arrow {
  display: none;
}

.visit:hover > span {
  color: darkred;
  font-weight: bolder;
  display: inline;
}
