* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* header */
#topHeader {
  background-image: url("images/bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* name and title */

#nameTitle {
  position: absolute;
  left: 10%;
  top: 50%;
}

.mainText {
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}

#name {
  font-weight: 500;
  font-size: 9rem;
  line-height: 130px;
  margin: 0px;
}

#title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 70px;
  margin: 0 0 0 2rem;
}

/* icons */
.icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 90%;
}

.icons a {
  color: white;
  text-decoration: none;
  margin: 2rem 0;
  padding: 0.5;
}

.icons a:hover {
  color: #bbc3ab;
  transition: all 0.5s ease-out;
}

/* about section */

.section {
  width: 90%;
  padding: 0.5em;
  margin: 10em auto 0 auto;
  text-align: center;
}
.sectionTitle {
  font-family: Rubik, sans-serif;
  color: black;
  padding: 1rem;
  margin: 1em auto 2em auto;
  font-weight: 900;
  font-size: 90px;
}

.para {
  font-family: Roboto Mono, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
}

/* work */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin: 0 0 20% 0;
}

.proTitle {
  font-family: Rubik, sans-serif !important;
  font-weight: 900;
  font-size: 60px;
  text-align: left;
}

.projectImg {
  width: 100%;
  box-shadow: 10px 10px 5px lightgray;
}

.usedTechnologies {
  text-align: left;
  padding: 1em 0.5em;
  margin: 1em 0;
}

.technology {
  font-family: Open Sans, sans-serif;
  display: inline;
  padding: 0.5em 0.75em;
  margin: 0 0.5em 0 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
}

.HTML {
  background: darkred;
  color: white;
}

.CSS {
  background: #000080;
  color: white;
}

.JavaScript {
  background: #ffc107;
  color: black;
}

.Bootsrap {
  background: #602c50;
  color: white;
}

.React {
  background: black;
  color: #61dbfb;
}

.view {
  text-align: left;
  padding: 1em;
}

.visit {
  font-family: Roboto Mono, sans-serif;
  font-weight: bold;
  padding: 0.5em;
  margin: 10px 0;
  color: black;
  font-size: 22px;
  text-decoration: none !important;
}

.visit:hover {
  color: black;
}

.arrow {
  display: none;
}

.visit:hover > span {
  color: darkred;
  font-weight: bolder;
  display: inline;
}

footer {
  height: 40vh;
  background: #141414;
}

.footDiv {
  margin: 0px auto;
  text-align: center;
}

.inline {
  display: inline-block;
  padding: 0.5em;
}

.footerImg {
  border-radius: 50% 70% 70% 50%/ 50% 50% 70% 70%;
  border: 4px solid #dc143c;
}

.footerMsg {
  font-family: Roboto Mono, sans-serif;
  color: white;
  line-height: 3rem;
  padding: 2em;
}

.footerMsg a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 250px) and (max-width: 500px) {
  .projects {
    display: grid;
    grid-template-areas:
      "txt"
      "img";
    grid-gap: 1rem;
    margin: 0 auto 20% auto;
  }

  .projectText {
    grid-area: txt;
    padding: 0.25em;
  }

  .projectSlider {
    grid-area: img;
  }

  #nameTitle {
    top: 54%;
    left: 4%;
  }

  #name {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 50px;
    margin: 0;
  }

  #title {
    font-size: 0.75rem;
    margin: -20px 0 0 0;
    padding: 0px;
  }

  .size {
    font-size: 30px;
  }

  .icons a {
    margin: 1rem 0;
    padding: 0.5;
  }

  /* work */
  .sectionTitle {
    font-size: 70px;
    text-align: left;
  }

  .proTitle {
    font-size: 25px;
    text-align: center;
  }

  .para {
    font-size: 16px;
    line-height: 1.25em;
  }

  .projectImg {
    width: 100%;
  }
  .usedTechnologies {
    margin: 5px 0px;
    padding: 0px;
  }

  .technology {
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 0.5em;
    font-weight: 500;
    margin: 5px 0 0 auto;
  }
  .view {
    text-align: center;
    margin: 5px 0 0 auto;
    border: solid;
    padding: 0.5em;
    background: black;
    border-radius: 15px;
  }

  .visit {
    font-size: 16px;
    color: white;
  }

  .visit:hover {
    color: white;
  }

  .footerMsg {
    font-size: 25px;
  }

  .footerImg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .projects {
    display: grid;
    grid-template-areas:
      "txt"
      "img";
    grid-gap: 1rem;
    margin: 0 auto 20% auto;
  }

  .projectText {
    grid-area: txt;
    padding: 0.25em;
  }

  .projectSlider {
    grid-area: img;
  }

  #nameTitle {
    top: 52%;
  }

  #name {
    font-weight: 500;
    font-size: 4rem;
    line-height: 70px;
  }

  #title {
    font-weight: 100;
    font-size: 1rem;
    margin: 0 0 0 1rem;
  }

  .size {
    font-size: 35px;
  }

  .icons a {
    margin: 1.25rem 0;
    padding: 0.5;
  }

  /* work */
  .sectionTitle {
    font-size: 70px;
    text-align: left;
  }

  .proTitle {
    font-size: 25px;
    text-align: center;
  }

  .para {
    font-size: 16px;
    line-height: 1.25em;
  }

  .projectImg {
    width: 100%;
  }
  .usedTechnologies {
    margin: 5px 0px;
    padding: 0px;
  }

  .technology {
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 0.5em;
    font-weight: 500;
    margin: 5px 0 0 auto;
  }
  .view {
    text-align: center;
    margin: 5px 0 0 auto;
    border: solid;
    padding: 0.5em;
    background: black;
    border-radius: 15px;
  }

  .visit {
    font-size: 16px;
    color: white;
  }

  .visit:hover {
    color: white;
  }

  .footerMsg {
    font-size: 25px;
  }

  .footerImg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1170px) {
  body {
    background: red;
  }
  .usedTechnologies {
  }

  #nameTitle {
    top: 52%;
  }
  #name {
    font-weight: 500;
    font-size: 5rem;
    line-height: 90px;
    margin: 0px;
  }

  #title {
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 70px;
    margin: 0 0 0 1rem;
  }

  .size {
    font-size: 40px;
  }
  .icons a {
    margin: 1.5rem 0;
    padding: 0.5;
  }

  /* work */
  .projects {
    grid-gap: 5rem;
    margin: 0 0 40% 0;
  }

  .sectionTitle {
    font-size: 80px;
  }

  .proTitle {
    font-size: 35px;
  }

  .para {
    font-size: 16px;
  }

  .projectImg {
    width: 400px;
  }

  .technology {
    font-size: 16px;
  }

  .visit {
    font-size: 18px;
  }

  .footerMsg {
    font-size: 25px;
  }

  .footerImg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1171px) and (max-width: 1300px) {
  body {
    background: orangered;
  }

  #name {
    font-size: 6.5rem;
  }

  #title {
    font-size: 1.5rem;
  }

  /* work */
  .projects {
    grid-gap: 5rem;
    margin: 0 0 40% 0;
  }

  .sectionTitle {
    font-size: 80px;
  }

  .proTitle {
    font-size: 42px;
  }

  .para {
    font-size: 18px;
  }

  .projectImg {
    width: 100%;
  }

  .technology {
    font-size: 18px;
  }

  .visit {
    font-size: 20px;
  }

  .inline {
    margin: 20px auto;
  }

  .footerMsg {
    font-size: 25px;
  }

  .footerImg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1499px) {
  body {
    background: gray;
  }

  #name {
    font-size: 7rem;
  }

  #title {
    font-size: 1.75rem;
  }

  /* work */
  .projects {
    grid-gap: 5rem;
    margin: 0 0 40% 0;
  }

  .proTitle {
    font-size: 50px;
  }

  .para {
    font-size: 20px;
  }

  .projectImg {
    width: 650px;
  }

  .technology {
    font-size: 18px;
  }

  footer {
    height: 40vh;
    background: #141414;
  }

  .footDiv {
    margin: 0px auto;
    text-align: center;
  }

  .inline {
    display: inline-block;
    padding: 0.5em;
  }
}

@media screen and (min-width: 1500px) {
  body {
  }
}
