<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Book Search</title>
  </head>
  <body>
    <div class="container">
      <br /><br />
      <h3 class="bg-dark p-4 text-white">Book Search</h3>
      <br />
      <div class="form-group">
        <input
          class="form-control font-weight-bold"
          type="text"
          id="title"
          placeholder="Search book"
          required
        /><br />
        <button
          id="getBookButton"
          type="button"
          class="btn btn-warning text-white font-weight-bold"         
        >
         Search Title
        </button>
        <button
        id="getGenreButton"
        type="button"
        class="btn btn-primary text-white font-weight-bold"         
      >
        Search Genre
      </button>
        <button
        id="getAllBooksButton"
        type="button"
        class='btn btn-danger text-white font-weight-bold'         
        
      >
        Get All Books
      </button>
        <div id="info" class="mt-4 p-3">
          <h5 id="author"></h5>
          <h5 id="genre"></h5>
          <h5 id="price"></h5>
          <h5 id="date"></h5>
          <h5 id="disc"></p>
          <h5 id="errorMsg"></h5>
        </div>
        <div id="genreInfo" class="mt-4 p-3"></div>
        <div id="allData" class="mt-4 p-3"></div>
        <div class="howTo">
          <ul class="list-group">
            <li class="list-group-item">To search by <span class="font-weight-bold">Book title:</span> enter the book title in the input field and click the <span class="text-warning font-weight-bold">Search Title</span> button</li>
            <li class="list-group-item">To search by <span class="font-weight-bold">Genre</span>: enter the genre in the input field and click the <span class="text-primary font-weight-bold">Search Genre </span> button</li>
            <li class="list-group-item">To search <span class="font-weight-bold">All Books:</span> click the <span class="text-danger font-weight-bold">Get All Books </span> button</li>
            <li class="list-group-item">You <span class="font-weight-bold">toggle</span> (show or hide) the search result by clicking on the same button twice.</li>
            <li class="list-group-item">You can always search by either <span class="font-weight-bold">Uppercase</span> or <span class="font-weight-bold">Lowercase </span> characters</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="./js/html.js">

</script>
    

  </body>
</html>
